<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/static/css/print.css" media="print" rel="stylesheet" type="text/css" />
        <link href="/static/css/vendor/jquery-ui/ui-darkness/jquery-ui.css"
        media="screen" rel="stylesheet" type="text/css">
        <title>{% block title %} Curso de python3 {% endblock %} </title>
    </head>
    <body class="bp two-col">
        <div id="container">
            <a target="_blank" href="https://github.com/DenJohX/python-teaching"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
            <header id="mainheader">
            <div id="logo">
                <img src="/static/img/python-logo.png" class="fl" />
            </div>
            <div id="titlediv">
                <h1 id="title"> Curso de python3 </h1>
                <span id="slogan">Una plataforma para la enseñanza de python3 </span>
            </div>
            </header>
            <article id="maincontent">
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>


            <aside id="sidebar">
            <h3> INFO </h3>
            <div class="sideblock">
                <a target="_blank" href="https://github.com/DenJohX/curso-python3">
                    Repo en GitHub
                </a>
            </div>
            {% include 'chatroom_div.html' %}
            {% block sidebar %}
            {% endblock %}
            </aside>
            </article>

            <footer id="mainfooter">
            <p> Construído utilizando 
                <a href="http://www.djangoproject.com/" target="_blank" >
                Django</a>, <a href="http://www.python.org/" target="_blank">
                Python</a>, <a href="http://jquery.com" target="_blank">
                jQuery</a>, <a href="http://compass-style.org/" target="_blank">
                Compass</a>
            </p>
            </footer>

        </div>

<div style="display:none; " id="dialog-form" title="Bienvenid@ al curso de
    python3">
	<p class="validateTips">Ingrese un nombre de usuario.</p>

	<form id="username_input">
	<fieldset>
		<label for="name">Usuario</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>


        <script type="application/javascript"
            src="/static/js/vendor/jquery/jquery.min.js">
        </script>
        <script type="application/javascript"
            src="/static/js/vendor/jquery/jquery-ui.min.js">
        </script>
        
        <script type="application/javascript" src="/static/js/dj_csrf_allow.js">
        </script>

        <script type="application/javascript" src="/static/js/general.js">
        </script>
        <script type="text/javascript">
            CHATROOM_SEND_URL = '/chatroom/send/';
            CHATROOM_POLL_URL = '/chatroom/poll/';
        </script>
        {% include 'chatroom_scripts.html' %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>

