{% extends "base.html" %}

{% block chatroom %}
<div id="chatroom">
    <div id="chatroom_chat">
        <div>
            <p><span>autor:</span> texto</p>
            <p><span>autor:</span> texto</p>
            <p><span>autor:</span> texto</p>
            <p><span>autor:</span> texto</p>
            <p><span>autor:</span> texto</p>
        </div>
    </div>
    <div id="chatroom_send">
        <form id="chatroom_form">
            <input id="chatroom_send_text" type="text"></input>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="application/javascript" src="/static/js/chatroom.js">
</script>
{% endblock %}
