<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

{% block content %}
<h1>Nuevo envio</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
{% csrf_token %}
<textarea rows="10" cols="80" type="text" name="text" id="text"> </textarea>
<input type="submit" value="Enviar" />
</form>
{% endblock %}



{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.js" >
</script>
<script type="text/javascript">
/*    jQuery(document).ready(function($){
        $('form').submit(function(ev) {
            ev.preventDefault();
            var data = $(this).serializeArray();
            $.ajax({
                type: 'POST',
                data: data,
                url: '/teaching/send/',
                success: function(rsp){
                    alert('enviado');
                }
            });
            return false
        });
        });
        */
</script>
{% endblock %}
</body>
</html>
